*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


html{
    font-family: sans-serif, 'lato';
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}


/* --------------------------------------- */
/* ---------------header------------------ */
.logo{
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.main-nav{
    float: right;
    list-style: none; /* bo dau cham */
    margin-top: 20px;
    margin-right: 20px;
    
}
.main-nav li{
    display: inline-block; /* hien thi teen cung 1 hang */
    margin-right: 30px;
}
.main-nav a{
    text-decoration: none; /* bo dau gach chan cua the a */
}

.main-nav li a{
    color: whitesmoke;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 100ms;
}

/* hieu ung di chuot qua */
.main-nav li a:hover,
.main-nav li a:active{
border-bottom: 2px solid wheat
}



.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

header{
    
    background-image: url(../image/feather-5454602_1280.jpg);
    background-size: cover;
    background-position: center;
    /* height = 100% display */
    height: 100vh; 
    /* keo xuong anh khong di chuyen */
    background-attachment: fixed;
}

.row{
    width: 1140px;
    margin: 0px auto;
}